<ion-view view-title="Learn" ng-controller="LearnCtrl">
    <ion-content class="padding">
        <select ng-model="learn.cat" value="{{learn.cat}}">
            <option value="0" selected>Lesson 1</option>
            <option value="1">Lesson 2</option>
            <option value="2">Lesson 3</option>
            <option value="3">Lesson 4</option>
            <option value="4">Lesson 5</option>
            <option value="5">Lesson 6</option>
            <option value="6">Lesson 7</option>
            <option value="7">Lesson 8</option>
            <option value="8">Lesson 9</option>
            <option value="9">Lesson 10</option>
        </select>
        <br/>
        <br/>
        <h2>{{ learnVoc }}</h2>
        <br/>
        <br/>
        <button class="button button-dark" ng-click="turn();">
            Turn
        </button>
        <button class="button button-dark" ng-click="next();">
            Next
        </button>
    </ion-content>
</ion-view>